.snakemake/
__pycache__/
*.py[cod]

.env
.envrc
.DS_Store

work/
results/
logs/
refs/
config/context.txt
config/pk2005.txt
results-example/contig_qc.tsv
results-example/contig_qc.summary.txt

data-private/
*.fastq.gz
*.fq.gz
*.bam
*.bai
*.vcf.gz
*.vcf.gz.tbi
containers/*.sif
